<h1>Login Form</h1>
<form #loginForm="ngForm">
    <label class="name"> User Name : </label>
  <input type="text"  required minlength="3" maxlength="15" #name="ngModel" placeholder="enter name" name="name" ngModel ForbiddenName="bob">  <br />

    <!-- <span *ngIf="name.errors?.['required']">Name is required.</span> <br> -->
    <!-- <span *ngIf="name.errors?.['minlength']">minimum lenght should be 3</span> -->
    <!-- <div *ngIf="name.errors?.['forbiddenName']">Name cannot be bob.</div> -->

    <span *ngIf="name.invalid && name.touched" style="color: red;">Please enter valid name </span><br>
    <label class="pass"> Password : </label>
  <input type="password" required minlength="8" pattern="[A-Z a-z 0-9 .*!@#$%^&*_=+-]+$" name="password" required
    #password="ngModel" placeholder="enter password " ngModel> <br>

  <span *ngIf="password.invalid && password.touched" style="color: red;">Please enter valid password</span><br>

  <button class="btn" (click)="userLogin(loginForm.value)" [disabled]="loginForm.invalid">Login</button>
  <hr>
</form>